<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Song Content</title>
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/admin">Manage Users</a>
    <a href="/admin/content">Manage Content</a>
    <a href="/admin/db">DB logs</a>
    <a href="/logout">Logout</a>
</div>

<br/>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; </span>
<div class="container">
  <form th:object="${song}" th:action="@{/edit_song}" method="post">
      <div class="form-group" hidden>
          <label for="id">Id:</label>
          <input type="text" class="form-control" id="id"  th:value="${song.id}" th:field="${song.id}" readonly>
      </div>
      <div class="form-group">
          <label for="song">Song:</label>
          <input type="text" class="form-control" id="song"  th:value="${song.name}" th:field="${song.name}">
      </div>
      <div class="form-group">
          <label for="performer">Performer:</label>
          <input type="text" class="form-control" id="performer" th:value="${song.performer}" th:field="${song.performer}">
      </div>
      <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" class="form-control" id="description" th:value="${song.description}" th:field="${song.description}"/>
      </div>
      <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
          </div>
      </div>
  </form>
</div>
<script type="text/javascript" th:src="@{/js/menu.js}"></script>
</body>
</html>